<% if @message.body.present? %>
  <div class="chatdialog_new">
    <% if @message.id == Conversation.find(@message.conversation_id).messages.first.id%>
      <div class="sent_at_timezone">
        <%= @message.sent_at_timezone.strftime("%e %b %y %a, %l:%M %p") %>
      </div>
    <% end %>
    <div class="chatmessage" id="message_no_<%= @message.id %>">
      <%= @message.body %> <%= hidden_field_tag "message_id", @message.user_id %>
    </div>
  </div>
<% end %>
<% if @message.chatimage.present? %>
  haha
<% end %>
