<div class="container blog_index">
  <div class="row">
    <div class="col-xs-4 col-lg-offset-2 ">
      <%= link_to image_tag("baby_product_image.png", class:"blog_image"), baby_products_path %>
    </div>
    <div class="col-xs-8 col-lg-4 blog_title">
      <%= link_to baby_products_path do %>
        <h4>Babies Are Not Expensive.</h4>
        <h5>This is it! The ultimate guide to buying baby products in JB. Potential savings up to 42%!</h5>
        <h5>Wilson Wan</h5>
        <h5>10 April 2019</h5>
      <% end %>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-4 col-lg-offset-2 ">
      <%= link_to image_tag("cosmetic_product_image.png", class:"blog_image"), cosmetics_products_path %>
    </div>
    <div class="col-xs-8 col-lg-4 blog_title">
      <%= link_to baby_products_path do %>
        <h4>Save on Cosmetics</h4>
        <h5>Part 2 of the ultimate guide! Buy cosmetics products in JB and save up to 53%!</h5>
        <h5>Wilson Wan</h5>
        <h5>17 April 2019</h5>
      <% end %>
    </div>
  </div>
</div>
