<div class="container">
  <div class="row">
    <div class="col-xs-12 text-center">
      <%= image_tag("about_us.jpg", size:"300x300", class:"about_us_image") %>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12 col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-2 about_us">
      <p class="first_p">
        Heyo!
      </p>
      <p>
        Moonlight was created by two guys who were stuck in a traffic jam along the Johor-Singapore Causeway in an effort to find the best deals and bargains Johor has to offer.
      </p>
      <h5>How did it start?</h5>
      <p>
        Stephen and I wondered if there was a better way for others to enjoy all these great savings across the border without wasting time in traffic jams.
      </p>
      <p>
        Since we travel to JB frequently, why don’t we list the best deals, gather a shopping list and buy for others?
        This was our eureka moment.
      </p>
      <h5>Our Cheaponana Spirit</h5>
      <p>
        Our team is committed to bringing you the greatest savings and best deals our friendly neighbouring country has to offer.
        To achieve this, we are on a constant lookout for sales and promotions in supermarkets and the rare gems such as neighbourhood shops not in the vicinity of the popular shopping areas.
      </p>
      <h5>"Your stuff not the cheapest leh"</h5>
      <p>
        If you find better deals than what we have to offer, please drop us an email at contact@moonlight.sg (we will do our best to beat it!). Any enquires and feedback are most welcome!
      </p>
      <p>
        Thank you so much for all your support and we look forward to fulfilling your JB shopping list!
      </p>
      <p class="last_p">
        Wilson & Stephen
      </p>
      <p>
        Great deals and savings, one shopping list at a time.
      </p>
    </div>
  </div>
</div>
