<h1 class="text-center platform-fees">Platform Fees</h1><br>
<h5 class="text-center platform-fees">For Customers, it's <strong>free</strong> to use.</h5>
<h5 class="text-center platform-fees">For Shoppers, fees are charged based on the amount transacted through the platform.</h5><br>
<div class="fees_wrapper text-center">
  <%= image_tag('fees.png', class:"fees") %>
</div>
