// Place all the styles related to the Admin controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.admin_wrapper{
  .critical{
    color: red;
  }
}

.admin_header{
  border: 1px solid black;
  background-color: #fff;
  margin-bottom: 10px;
  margin-top: 10px;
  border-radius: 4px;
}

#reference_tx{
  margin: 20px 0px;
}

.admin_content{
  padding-bottom: 10px;
}

.admin_order_2{
  display: inline;
}

.btn-done{
  background-color: #DC4C46;
  color: #fff;
  padding: 7px 12px;
  font-size: 14px;
  border-radius: 4px;
  border: none;
}

.btn-refund{
  margin-right: 70px;
  background-color: #23B6B9 !important;
  color: #fff;
  padding: 7px 12px;
  font-size: 14px;
  border-radius: 4px;
  border: none;
}
