/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require bootstrap-datepicker3
 */
 @import "bootstrap-sprockets";
 @import "bootstrap";

// General

input[type="number"]::-webkit-outer-spin-button, input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type="number"] {
    -moz-appearance: textfield;
}

.coltest{
  border: 1px solid black;
}

a:-webkit-any-link{
  text-decoration:none;
  color: inherit;
}

textarea {
  resize: none
}

input:-webkit-autofill {
    -webkit-box-shadow: 0 0 0 1000px white inset !important;
}

*{
   box-sizing: border-box;
 }

html {
  height: 100%;
  width: 100vw;
}

body {
  min-height: 100%;
  height: 100%;
  background: white;
  font-family: 'Quicksand', sans-serif;
  //padding-bottom: 20px;
}

ul{
  margin: 0;
  padding: 0;
}

.link-to-text-colour{
  color: black;
}

.link-to-text-colour:hover{
  color: black;
  text-decoration:none;
}

// Navigation Bar

  .sticky {
    position: fixed;
    top: 0;
    width: 100%;
  }

 .mainnav{
   width: 100%;
   background-color: white;
   font-size: 15px;
   height: 62px;
   li{
    list-style-type: none;
    color: #313036;
    text-decoration: none;
    float: right;
    padding: 10px 20px;

   }
   button{
     list-style-type: none;
     color: #313036;
     text-decoration: none;
     float: right;
     padding: 12px 20px;
     border: none;
     width: 100%;
   }
   li:hover{
     color: #DC4C46;
     text-decoration: none;
   }
   li.icon{
     display: none;
   }
   z-index: 2;
 }

/* Extra small devices (phones, 600px and down) */
 @media screen and (max-width:767px){
   .mainnav li{
     display: none;
   }
   .mainnav button{
     display: none;
   }
   .mainnav li.icon{
      display: inline-block;
      float: right;
      border: none;
      margin-top: 10px;
   }
   li.selector_account{
     display: none!important;
   }
   .mainnav.responsive{
     position: fixed;
   }
   .mainnav.responsive li.icon{
     position: absolute;
     top: 0;
     right: 0;
   }
   .mainnav.responsive li{
     float: none;
     display: inline;
   }
   .mainnav.responsive button{
     float: none;
     display: inline;
   }
   .mainnav.responsive li.selector{
     color: white;
     display: block;
     text-align: left;
     //background-color: #F1F2F3;
     background-color: #23B3B9;
     //border-bottom: 1px solid #E4E5E6;
     border-bottom: 1px solid white;
     opacity: 0.95;
   }
   .mainnav.responsive button.selector{
     color: white;
     display: block;
     text-align: left;
     //background-color: #F1F2F3;
     background-color: #23B3B9;
     //border-bottom: 1px solid #E4E5E6;
     border-bottom: 1px solid white;
     opacity: 0.95;
   }
   .mainnav.responsive li.settings{
     padding-left: 30px;
     background-color: #DC4C46;
     opacity: 0.9;
   }
   .mainnav.responsive button.settings{
     padding-left: 3em;
     background-color: #DC4C46;
     opacity: 0.9;
   }
   .mainnav.responsive #zindextest{
     position: absolute;
     z-index: 1;
     top:62px;
     right: 0;
     width: 100%;
   }
 }

 /* Small devices (portrait tablets and large phones, 600px and up) */
 @media screen and (min-width: 768px){
   .yourhootes{
     display: none;
   }
   .main_settings{
     display: none;
   }
   .settings{
     display: none;
   }
   .logout_hide{
     display: none;
   }
 }

.prelaunch{
  margin: 0;
}

.logo{
  margin-left: auto;
  margin-right: auto;
}

 .logowrapper{
   height: 100%;
   position: relative;
   display: inline-block;
   //border-right: 1px solid #E4E5E6;
 }

 .logostyle {
  display: inline-block;
  margin-left: 12px;
 }

 .logostyle2 {
  display: inline-block;
  margin-left: -8px;
 }

 .logowrapper:hover{
   text-decoration: none !important;
 }

 .logostyle:hover{
   text-decoration: none !important;
 }

 .searchlogowrapper{
   display: inline-block;
   color: #fff;
 }

 .searchlogostyle{
  height: 30px;
  width: 30px;
 }

 .searchboxwrapper{
  display: inline-block;
  width: 100%;
 }

 .searchboxstyle{
  //width: 290px;
  //background-color: #9a3531;
  // color: #fff;
  // border: none;
 }

 .searchboxstyle_no{
   //width: 290px;
   //background-color: #9a3531;
   color: black;
   // border: none;
}

 .searchboxstyle::placeholder{
  //color: #fff;
 }

 .searchbar{
  margin-top: 15px;
  text-align: left;
  padding: 0px 5px;
}

.searchbar_no {
  margin-top: 15px;
  text-align: left;
  padding: 0px 40px;
}

.clear_search{
  position: absolute;
  right: 85px;
  top: 1px;
  border-left: 1px solid #ccc;
  color: #999;
  padding: 9px 5px;
  border-radius: 2px;
  font-size: 10px;
  font-weight: 900;
}

 #zindextest{
  position: fixed;
  right: 0px;
  top: 8px;
 }

 // Account settings

 .editform{
   width: 200px;
   a:hover{
     color: #888593;
     text-decoration: none !important;
   }
   li{
     list-style-type: none;
   }
 }

 .lesson_admin{
   background: white;
   border: 1px solid #E4E5E6;
   height: auto;
   width: 320px;
   border-radius: 5px;
   margin-bottom: 30px;
   font-size: 15px;
   line-height: 1.5;
   .image_wrapper {
   		max-width: 100%;
   		border-radius: 5px 5px 0 0;
   		overflow: hidden;
   	}
   img {
 		-webkit-transition: all .3s ease-out;
 	  -moz-transition: all .3s ease-out;
 	  -o-transition: all .3s ease-out;
     transition: all .3s ease-out;
   	&:hover {
   		transform: scale(1.075);
 	  }
   }
   h3 {
 		font-size: 15px;
 		font-weight: bold;
    padding: 0px 10px 0px;
 	}
   h4 {
     font-size: 14px;
     padding: 0px 10px 0px;
     color: #313036;
   }
   h5 {
     font-size: 14px;
     font-weight: lighter;
     padding: 8px 10px 0px;
     text-align: justify;
     color: #56535F;
   }
   h6 {
     font-size: 14px;
     padding: 8px 10px 0px;
     text-align: justify;
     color: #56535F;
   }
   .otherinfo{
     display:inline-block;
     padding: 5px 10px 0px;
     font-size: 14px;
     text-align: justify;
     color: #56535F;
   }
   .otherinfo2{
     display:inline-block;
     font-size: 14px;
     float: right;
     padding: 5px 10px 0px;
     color: #56535F;
     margin: 0px;
   }
 }

.accountpage{
  width: 45%;
  margin-left: auto;
  margin-right: auto;
  h3{
    margin-top: 0;
  }
}

.read_more{
  font-weight: normal;
}

.profile_pic{
  border-radius: 50%;
}

.account-settings:focus{
  border: none !important;
  //border-color: #DC4C46 !important;
  //color: #DC4C46 !important;
}

.profile_updated{
  display: inline;
  color: #23B3B9;
  position: absolute;
  padding: 10px 0px;
  margin-left: 10px;
}

.profile_incomplete{
  display: inline;
  color: #DC4C46;
  position: absolute;
  padding: 10px 0px;
  margin-left: 10px;
}

.host_hoote{
  color: #DC4C46!important;
}

// Hoote Card

//600px and smaller
@media screen and (max-width:600px){

}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
  .hoote_card{
    width: 319px;
    margin-left: auto;
    margin-right: auto;
    .start_date{
      margin-bottom: 1em;
    }
    .slots_left{
      margin-bottom: 1.4em;
    }
    padding-bottom: 0.9em;
    h1, h2, h3, h4{
      color: #56535F;
      font-weight: lighter;
    }
    h3{
      margin-top: 0;
      padding-top: 0;
    }
    border-bottom: 1px solid #23B3B9;
  }

}

//768px and bigger
@media screen and (min-width:768px){
  .account_settings_full{
    display: block!important;
  }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {

}

.account_settings_full{
  display: none;
}

.hoote_card{
  width: 319px;
  margin-left: auto;
  margin-right: auto;
  .start_date{
    margin-bottom: 1em;
  }
  .slots_left{
    margin-bottom: 1.4em;
  }
  padding-bottom: 0.9em;
  .btn-account{
    margin-top: 0.5em;
    margin-bottom: 0.5em;
  }
  h1, h2, h3, h4{
    color: #56535F;
    font-weight: lighter;
  }
  h3{
    margin-top: 0;
    padding-top: 0;
  }
  border-bottom: 1px solid #23B3B9;
}

.user_profile{
  width: 300px;
  margin-left: auto;
  margin-right: auto;
  .start_date{
    margin-bottom: 1em;
  }
  .slots_left{
    margin-bottom: 1.4em;
  }
  padding-bottom: 0.9em;
  .btn-account{
    margin-top: 1em;
  }
  h1, h2, h3, h4{
    font-weight: lighter;
  }
  h3{
    margin-top: 0;
    padding-top: 0;
  }
}

.btn-update{
  float: right;
}

.alert{
  border: none;
  border-radius: 0;
}

.alert-success{
  width: 100%;
  margin-top: 61px;
  padding-right: 7px;
  padding-left: 7px;
  padding-top: 5px;
  padding-bottom: 5px;
  .btn{
    margin-top: 7px;
    margin-bottom: 5px;
  }
  strong{
    color: #DC4C46;
    font-size: 15px;
    font-weight: 900;
  }
}

.alert-created{
  width: 100%;
  margin-top: 61px;
  padding-right: 7px;
  padding-left: 7px;
  padding-top: 3px;
  padding-bottom: 3px;
}

.alert-welcome{
  width: 100%;
  margin-top: 61px;
  padding-right: 7px;
  padding-left: 7px;
  padding-top: 3px;
  padding-bottom: 18px;
  .btn{
    margin-top: 7px;
    margin-bottom: 5px;
  }
  strong{
    color: #DC4C46;
    font-size: 15px;
    font-weight: 900;
  }
}

.alert-notice{
  width: 100%;
  margin-top: 61px;
  padding-right: 10px;
  padding-left: 10px;
  padding-top: 5px;
  padding-bottom: 5px;
  .btn{
    margin-top: 7px;
    margin-bottom: 5px;
  }
  strong{
    color: #DC4C46;
    //font-size: 15px;
    font-weight: 900;
  }
}

.alert-forget{
  width: 100%;
  margin-top: 121px;
  padding-right: 10px;
  padding-left: 10px;
  padding-top: 5px;
  padding-bottom: 5px;
  .btn{
    margin-top: 7px;
    margin-bottom: 5px;
  }
  strong{
    color: #DC4C46;
    //font-size: 15px;
    font-weight: 900;
  }
}


.alert-profile{
  width: 100%;
  margin-top: 61px;
  padding-right: 7px;
  padding-left: 7px;
  padding-top: 5px;
  padding-bottom: 5px;
  .btn{
    margin-top: 7px;
    margin-bottom: 5px;
  }
  strong{
    color: #DC4C46;
    font-size: 14px;
    font-weight: 900;
  }
}

.alert-alert{
  display: none;
}

.total_balance_wrapper{
  padding:0!important;
}

.balance_wrapper{
  padding: 25px 0;
  color: #1fa668;
}

.balance_first{
  padding: 0px!important;
  font-weight: 900;
  font-size: 30px;
  //color: #fff;
}

.withdraw_wrapper{
  //padding: 5px 0;
  //margin-bottom: 20px;
}

.withdraw_first{

}

.walletwrapper{
  margin-top: 59px;
  h3{
    margin-bottom: 20px;
  }
}

.plussign{
  color: #1fa668;
  font-weight: 900;
  margin-right: 5px;
  display: inline-block;
}

.minussign{
  color: #DC4C46;
  font-weight: 900;
  margin-right: 5px;
  display: inline-block;
}

.trans_stats_header{
  padding: 5px 0;
  border-radius: 3px;
  //margin-bottom: 5px;
  font-weight: 900;
  font-size: 15px;
  margin: 15px 0;
}

.transaction_add{
  background-color: #e8f6ef;
  padding: 10px 5px;
}

.transaction_minus{
  background-color: #fbedec;
  padding: 10px 5px;
}

.btn-transaction{
  background-color: transparent;
  outline: none;
  //color: #fff;
  padding: 7px 12px;
  font-size: 14px;
  border: none;
  border-bottom: 1px solid #23B3B9;
}

.btn-statistics{
  background-color: transparent;
  outline: none;
  //color: #fff;
  padding: 7px 12px;
  font-size: 14px;
  border: none;
  width: 106px;
  //border-bottom: 1px solid #23B3B9;
}

.wallet_info{
  width: 100%;
  padding: 0px 5px;
  //margin-bottom: 15px;
  .title{
    color: #DC4C46;
  }
}

.no_results{
  font-size: 18px;
  padding: 20px;
  margin-top: 20px;
}

.go_back{
  font-size: 16px;
  padding: 6px 10px;
  background-color: #23B3B9;
  color: #fff!important;
  border: none;
  display: inline-block;
  margin-top: 10px;
  border-radius: 4px;
}

.chatbar{
  margin-top: 64px;
  margin-bottom: -50px;
}

.chat_image{
  padding: 1px;
  border-radius: 50%;
  margin: 0 2px;
}

.chat_image_read{
  border: 2px solid #DC4C46;
}

.chat_image_unread{
  border: 2px solid #23B3B9;
}

.chatbox_image_dialog{
  border-radius: 50%;
  //border: 2px solid #DC4C46;
  margin: 0 2px;
}

.chatdialog_right_sub{
  display: block;
  text-align: center;
}

.chatdialog_left_sub{
  display: block;
  text-align: center;
}

.chatdialogwrapper{
  display: none;
  //visibility:hidden;
  background-color: rgba(49,	48,	54, 0.8);
  //opacity: 0.8;
  /* Height & width depends on how you want to reveal the overlay (see JS below) */
  height: 100%;
  width: 100%;
  position: fixed; /* Stay in place */
  z-index: 99; /* Sit on top */
  left: 0;
  top: 0;
  overflow-x: hidden; /* Disable horizontal scroll */
  transition: 0.5s; /* 0.5 second transition effect to slide in or slide down the overlay (height or width, depending on reveal) */
  padding: 5px;
}

.dialog_wrapper{
  overflow: scroll;
  overflow-x: hidden;
  height: 80%;
}

.chatdialogbox{
  background-color: #f2f3f5;
  height: 530px;
  position: relative;
  top: 0;
  border-radius: 3px;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}

.chatdialogname{
  width: 100%;
  background-color: #fff;
  border-radius: 3px;
  padding: 5px;
}

.chatdialog_right{
  width: 65%;
  float: right;
  padding: 10px 10px 5px 10px;
  text-align: right;
}

.chatdialog_right_cont{
  width: 100%;
  float: right;
  padding: 5px 10px 5px 10px;
  text-align: left;
  //margin-top: -10px;
  //word-wrap: break-word;
  word-break: break-all;
}

.chatdialog_right_cont_first{
  max-width: 75%;
  float: right;
  text-align: justify;
  display: inline-block;
  margin: 0;
  padding: 5px;
  background-color: #d3eff1;
  border-radius: 3px;
}

.chatdialog_right_first{
  float: right;
  text-align: justify;
  display: inline-block;
  margin-top: 5px;
  padding: 5px;
  background-color: #d3eff1;
  border-radius: 3px;
}

.chatdialog_left{
  width: 100%;
  float: left;
  text-align: left;
  padding: 10px 10px 5px 10px;
}

.chatdialog_left_cont{
  width: 100%;
  float: left;
  padding: 5px 10px 5px 10px;
  text-align: left;
  word-break: break-all;
}

.chatdialog_left_cont_first{
  max-width: 75%;
  float: left;
  text-align: justify;
  display: inline-block;
  margin: 0;
  padding: 4px;
  background-color: #f8dbda;
  border-radius: 3px;
}

.chatdialog_left_first{
  float: left;
  text-align: justify;
  display: inline-block;
  margin-top: 5px;
  padding: 5px;
  background-color: #f8dbda;
  border-radius: 3px;
}

.chatsend{
  width: 100%;
  background-color: #fff;
  border-radius: 3px;
  position: absolute;
  bottom: 0;
  .form-control{
    display: inline-block;
    width: 300px;
    height: 49px;
    vertical-align: middle;
    border: none;
    text-align: left;
    margin-right: 15px;
    float: left;
    font-size: 16px;
  }
}

.btn-send{
  display: none;
  background-color: #DC4C46 !important;
  color: #fff;
  //padding: 4px 8px;
  height: 34px;
  padding: 1px 8px;
  font-size: 16px;
  border-radius: 4px;
  border: none;
  vertical-align: middle;
}

.closedialog{
  font-size: 35px;
  position: absolute;
  padding: 5px;
  top: -20px;
  right: 0;
  color: #23B3B9;
  border: none;
  background-color: transparent;
}

.send_button{
  display: none;
  position: absolute;
  padding: 0 0 0 0;
  border: none;
  background-color: #fff;
  right: 10px;
  bottom: 12px;
}

.sendwrapper{
  background-color: #7bd1d5;
  border-radius: 50%;
  padding: 3px 10px 10px 6px;
  border: none;
  width: 25px;
  height: 25px;
  //margin-top: 3px;
}

i.send{
  border: solid #fff;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 4px;
  margin-right: 2px;
  margin-top: 2px;
}

i.camera input[accept*="image"] {
  //display: none;
}

.camerawrapper{
  //margin:15px;
  //margin-right: 5px;
  width:40px;
  height:40px;
  //display: none;
  //background-color:#f5f5f5;
  //border:1px solid #ccc;
  //box-shadow:0 0 2px #ccc;
  position:relative;
  float:right;
  //border-radius:5px;
}

.camera{
  display:block;
  width:70%;
  height:50%;
  position:absolute;
  top:40%;
  left:10%;
  background-color:#7f7f7f;
  border-radius:5px;
}
.camera:after{
  content:"";
  display:block;
  width:10px;
  height:10px;
  border:2px solid #fff;
  position:absolute;
  top:27%;
  left:50%;
  background-color:#7f7f7f;
  border-radius:15px;
}
.camera:before{
  content:"";
  display:block;
   width: 20px;
   border-bottom: 10px solid #7f7f7f;
   border-left: 5px solid transparent;
   border-right: 5px solid transparent;
  position:absolute;
  top:-15%;
  left:20%;
  border-radius:5px;
}

.camera span{
  display:block;
  width:10px;
  height:5px;
  position:absolute;
  top:7%;
  left:10%;
  background-color:#fff;
}

.right {
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
}

.chat_image_wrapper{
  position: relative;
  display: inline-block;
}
/*
.bubble{
  display: none;
  position: absolute;
  height: 13px;
  width: 13px;
  //background-color: #23b974;
  background-color: #DC4C46;
  border-radius: 50%;
  display: inline-block;
  right: 5px;
  top: 0px;
  font-size: 9px;
  color: #fff;
  padding-top: 1px;
  padding-left: 1px;
}
*/

.bubble{
  position: relative;
}
.bubble_tube {
  width: 26px;
  background-color: #DC4C46;
  color: #fff;
  text-align: center;
  border-radius: 7px;
  position: absolute;
  opacity: 1;
  bottom: 0px;
  font-size: 9px;
  left: 14px;
  text-align: center;
}

.show_bubble{
  display: block;
}

.hide_bubble{
  display: none;
}

.review_wrapper{
  //display: none;
  //visibility:hidden;
  background-color: rgba(49,	48,	54, 0.8);
  //opacity: 0.8;
  /* Height & width depends on how you want to reveal the overlay (see JS below) */
  height: 100%;
  width: 100%;
  position: fixed; /* Stay in place */
  z-index: 99; /* Sit on top */
  left: 0;
  top: 0;
  overflow-x: hidden; /* Disable horizontal scroll */
  transition: 0.5s; /* 0.5 second transition effect to slide in or slide down the overlay (height or width, depending on reveal) */
  padding: 5px;
}

.review_box{
  background-color: #f2f3f5;
  border-radius: 3px;
  width: 100%;
  margin-top: 100px;
}

.review_name{
  width: 100%;
  background-color: #fff;
  border-radius: 3px;
  padding: 5px;
}

.review_stars_wrapper{
  overflow: scroll;
  overflow-x: hidden;
  padding: 5px 0;
}

.review_send{
  width: 100%;
  //background-color: #fff;
  border-radius: 3px;
  //position: absolute;
  //ottom: 0;
  .form-control{
    display: inline-block;
    vertical-align: middle;
    border: none;
    text-align: left;
    float: left;
  }
}

.review_stars{
  font-size: 20px;
  padding: 0 5px;
}

.glyphicon-star{
  color:#23B3B9;
}

.btn-review-done{
  display: inline-block;
  background-color: #23B3B9;
  color: #fff;
  padding: 10px;
  margin: 10px 0;
  border-radius: 4px;
  border: none;
}

.btn-cash{
  background-color: #DC4C46 !important;
  color: #fff;
  padding: 7px 12px;
  font-size: 14px;
  border-radius: 4px;
  border: none;
  //margin: 5px 0;
}

.transfer_wrapper{
  display: none;
}

.new_transaction{
  display: none;
}

.edit_form_wallet{
  display: none;
}

.btn-edit-details{
  position: absolute;
  right: 15px;
  //top: -4px;
  color: #23B3B9;
  background-color: transparent;
  border-radius: 4px;
  border: none;
}

.bank_details{
  border: 1px solid #ececec;
  padding: 5px;
  color: #a3a3a3;
}

.bank_details_name{
  color: #616161;
}

.bank_details_mobile{
  color: #616161;
}

.transfer_header{
  margin-top: 15px;
  text-align: left;
  color: #a3a3a3;
}

.withdraw_btn_wrapper{
  display: none;
}

.cash_out_header{
  text-align: center;
  color: #a3a3a3;
}

.transaction_amount_label{
  position: absolute;
  left: 0;
  bottom: 3px;
  color: #a3a3a3;
}

#transaction_amount{
  color: #1fa668!important;
  font-weight: 900;
}

.wrong_cash_out_amt{
  display: none;
  position: absolute;
  bottom:-20px;
  color: #DC4C46;
}

.no_withdraw_wrapper{
  strong{
    font-weight: 900;
    color: #DC4C46;
  }
}

.btn-done{
  background-color: #DC4C46 !important;
  color: #fff;
  padding: 7px 12px;
  font-size: 14px;
  border-radius: 4px;
  border: none;
}

.notification_status{
  margin-top: 10px;
}

.green_colour{
  background-color: #dff0d8;
  margin-top: -61px;
}

.btn-photo{
  display: inline-block;
  color: #23B3B9;
  font-size: 15px;
  background-color: white;
  margin-top: 20px;
  margin-bottom: 20px;
  border: 1px solid #23B3B9;
  padding: 6px 12px;
  border-radius: 4px;
  position:relative;
}

.relative{
  position: relative;
}

.missing_photo{
  display: none;
  color: #DC4C46;
  position: absolute;
  bottom: 0px;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
}

.upload_image_complete{
  display: none;
  color: #DC4C46;
  position: absolute;
  bottom: 0px;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
}

.contact_no_error{
  display: none;
  color: #DC4C46;
  position: absolute;
  bottom: -5px;
  transform: translateX(50%)
}

#loader{
  position: absolute;
  left: 82px;
  bottom: 74px;
  border-radius: 50%;
  height: 41px;
  width: 41px;
}

#loader_2{
  position: absolute;
  bottom: 40px;
  right: 50%;
  transform: translateX(-20px);
}

.upload_image{
  display: none;
  color: #DC4C46;
  position: absolute;
  top: 34%;
  left: 23%;
}

.loading_notif{
  display: none;
  color: #DC4C46;
}

.closewrapper{
  margin-top: 70px;
}

.menuwrapper{
  position: relative;
  height: auto;
}

.missing_profile{
  display: none;
  position: absolute;
  bottom: 0px;
  color: #DC4C46;
}

.speech-bubble {
  bottom: 36px;
  left: 38px;
  position: absolute;
  background: #DC4C46;
  border-radius: 4px;
  height: 14px;
  width: 18px;
}

.speech-bubble:after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 50%;
  width: 0;
  height: 0;
  border: 9px solid transparent;
  border-top-color: #DC4C46;
  border-bottom: 0;
  border-left: 0;
  margin-left: -4px;
  margin-bottom: -7px;
}

.chatimage_fullscreen_wrapper{
  display: none;
  height: 100%;
  width: 100%;
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  background-color: #414042;
  overflow-x: hidden; /* Disable horizontal scroll */
}

.chatimage_fullscreen{
  width: 100%;
  top: 50%;
  position: absolute;
  transform: translateY(-50%);
  padding: 0 5px;
}

.country_code_contact{
  padding: 0px
}

.contact_number{
  padding: 0px
}

.myjobs{
  position: absolute;
}

.myjobs_sub{
  position: absolute;
}

.editformheader{
  background-color: transparent;
  border: none;
  display: block;
  text-decoration: none !important;
  color: #56535F;
  font-size: 18px;
  font-weight: 600;
}

.editformwrapper{
  margin-left: 15px;
}

.hoote_footer{
  margin-top: 65px;
}

.no_padding{
  padding: 0px!important;
}

.no_margin{
  margin: 0px;
}
